nz-header{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: white !important;
}
h2{
    color: white;
}
.inner-content{
    margin: 3% !important;
    background: white !important;
}
nz-content{
    background: white !important;
}