.form-container {
    margin: 20px;
    margin-top: -15px !important;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }
  
  .guardar-button {
    margin-top: 30px;
    width: 100%;
  }

  nz-select{
    width: 100% !important;
  }